In [18]:
#import dependencies 
import pandas as pd

In [19]:
#create path to the csv file 
csv_path = "Resources/purchase_data.csv"
#Read the csv file and create data frame
game_info_df = pd.read_csv(csv_path)
#check to see df
game_info_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [20]:
# Total Number of Players
total_players = game_info_df["SN"].nunique()
total_players

576

In [21]:
# Number of Unique Items
unique_items_df = game_info_df["Item ID"].nunique()
unique_items_df

179

In [22]:
# Average Purchase Price
average_price_df = game_info_df["Price"].mean()
average_price_df

3.050987179487176

In [23]:
# # Total Number of Purchases
purchases = (game_info_df["Purchase ID"]).count()
purchases

780

In [24]:
# Total Revenue
total_revenue = (game_info_df["Price"]).sum()
total_revenue

2379.77

In [25]:
# Create data frame with obtained values
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items_df],
                           "Average Price":[average_price_df], 
                           "Number of Purchases": [purchases], 
                           "Total Revenue": [total_revenue]})

# Gender Demographics#
Percentage and Count of Male Players

Percentage and Count of Female Players

Percentage and Count of Other / Non-Disclosed

In [26]:
# Group purchase_data by Gender
gender_stats = game_info_df.groupby("Gender")

# Count the total of screen names "SN" by gender
total_count_gender = gender_stats.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = total_count_gender / total_players * 100

# Create data frame with obtained values
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

# Format the data frame with no index name in the corner
gender_demographics.index.name = None

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

Purchasing Analysis (Gender)
The below each broken by gender

Purchase Count

Average Purchase Price

Total Purchase Value

Average Purchase Total per Person by Gender

In [32]:
#purchase count
purchase_count = gender_stats["Purchase ID"].count()
purchase_count

Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [33]:
#Average purchase 
average_purchase= gender_stats["Price"].mean()
average_purchase

Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [35]:
#total price 
Total= gender_stats["Price"].sum()
Total

Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [36]:
#average purchase total by gender 
Average = Total/total_count_gender
Average

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64